
.Title{
    text-align:center;
    font-family: 'Orbitron', sans-serif;
}
.result{
    font-family:'Poppins',sans-serif;
    font-size: large;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.downInp{
    margin:5px;
}
.resultChild{
    display: block;
    width: 100%;
}
#error{
    text-align: center;
    font-family:'Oswald',sans-serif;
    font-size: larger;
}
#GraphTable {
    margin-left: auto;
    margin-right: auto;
}
body{
    background: rgb(63,184,251);
    background: radial-gradient(circle, rgba(63,184,251,1) 0%, rgba(70,252,232,1) 100%);
}
#downButton{
    font-family: 'Orbitron', sans-serif;  
    border: none;
        color: white;
        background-color: #FC465A;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 25px;
        margin-left: 10px;
}
#subButton{
    font-family: 'Orbitron', sans-serif;  
    border: none;
        color: white;
        background-color: #FC465A;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 25px;
        margin-left: 10px;
}
#subButton:hover{
    background-color:#eb0e26;
}
#downButton:hover{
    background-color:#eb0e26;
}
#downDeets{
    display: none;
    margin: 10px;
    text-align: center;
}
#downloads{
    justify-content: center;
    display: flex;
}
#subText{
    display: inline;
    text-align: center;
    margin-left: 10px;
}